<div class="container">
  <div class="header mb-3">
    <app-header></app-header>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-ngb-ui></app-ngb-ui> -->
<!-- <app-new-emp></app-new-emp> -->
<!-- <app-users></app-users> -->

<!-- <app-counter></app-counter>
<hr />
<app-counter-two></app-counter-two> -->
<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!--
<input type="text" [(ngModel)]="title" />

<button class="btn btn-primary" (click)="showComp = !showComp">Toggle</button>

<app-life-cycle-demo [title]="title" *ngIf="showComp">
  <header #headerInfo>The Header Info</header>
</app-life-cycle-demo> -->
