<h2 appHighlight [favColor]="'blue'">Users Component Loaded</h2>

<ul class="list-group">
  <li class="list-group-item my-3" *ngFor="let user of userCollection">
    <div class="row">
      <div class="col-4">
        <app-user-img
          [user]="user"
          (childEvent)="onMoreInfo($event)"
        ></app-user-img>
      </div>
      <div class="col-8">
        <app-user-info [user]="user">
          <h3 class="username">
            {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
          </h3>
        </app-user-info>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-1">
        <app-user-comment [comments]="user.comments"></app-user-comment>
      </div>
    </div>
  </li>
</ul>
