<header>
  <div class="row">
    <div class="col-9">
      <ul class="nav nav-tabs">
        <li class="nav-item" *ngIf="!authService.isUserAuthenticated()">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isUserAuthenticated()">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pipe-demo']">Pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/observable-demo']">Observable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lazy']">Lazy</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/users']"
            [queryParams]="{ userId: 'u001' }"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']">Posts</a>
        </li>
      </ul>
    </div>
    <div class="col-3" *ngIf="authService.isUserAuthenticated()">
      <div class="btn btn-outline-danger" (click)="onLogout()">Logout</div>
    </div>
  </div>
</header>
