<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-title">
        <h3 class="text-center display-4">Login Form</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (submit)="onLogin()">
          <!-- username -->
          <div class="form-group">
            <label for="username">Username :</label>
            <input
              type="text"
              name="username"
              class="form-control"
              [formControl]="username"
            />
            <div
              *ngIf="username.touched && username.invalid"
              class="alert alert-danger"
            >
              Some Problem with Username field
              <div *ngIf="username.hasError('required')">
                - Username is mandatory field
              </div>
              <div *ngIf="username.hasError('email')">
                - Username should be in proper email format
              </div>
            </div>
          </div>
          <!-- password -->
          <div class="form-group">
            <label for="password"> Password :</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [formControl]="password"
            />
            <div
              *ngIf="password.invalid && password.touched"
              class="alert alert-danger"
            >
              <div *ngIf="password.hasError('required')">
                - Password is required field
              </div>
              <div *ngIf="password.hasError('minlength')">
                - Password should have 6 characters at least
              </div>
              <div *ngIf="password.hasError('needExclamation')">
                - Password should have exclamation (!)
              </div>
            </div>
          </div>
          <!-- button -->
          <div class="form-group">
            <div class="row">
              <div class="col-6">
                <button
                  class="btn btn-primary btn-block"
                  type="submit"
                  [disabled]="!loginForm.valid"
                >
                  Login
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-warning btn-block">Reset</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
