.ng-invalid.ng-dirty[name="username"] {
  background-color: rgb(239, 98, 98);
}
.ng-valid.ng-dirty[name="username"] {
  background-color: rgb(110, 232, 110);
}
.ng-invalid.ng-dirty[name="password"] {
  background-color: rgb(239, 98, 98);
}
.ng-valid.ng-dirty[name="password"] {
  background-color: rgb(110, 232, 110);
}
