<button
  type="button"
  class="btn btn-primary"
  ngbPopover="Popover content"
  popoverTitle="Popover title"
>
  Button
</button>

<ngb-alert type="danger" [dismissible]="true">Alert</ngb-alert>

<div class="form-check">
  <input class="form-check-input" id="id" type="checkbox" />
  <label class="form-check-label" for="id">label</label>
</div>

<ngb-datepicker #dp></ngb-datepicker>
