<p class="display-4 text-center">My Post</p>

<div class="row">
  <div
    class="col-4"
    *ngFor="let post of postCollection"
    (click)="onPostSelect(post)"
  >
    <div class="card">
      <div class="card-header">
        <h6 class="text-center">{{ post.title | uppercase }}</h6>
      </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
