<ng-content select=".username"></ng-content>
<p *ngIf="user.isWorking; else elseTemplate">
  Income : <span [innerText]="user.income | currency : 'INR'"></span>
</p>
<p>
  Date of Birth : <span [innerText]="user.dob | date : 'dd-MM-yyyy'"></span>
</p>
<p>
  Total Votes : {{ user.votes }}
  <!-- <input
    type="number"
    [value]="user.votes"
    (change)="changeVote(txtVote)"
    #txtVote
  /> -->

  <input type="number" [(ngModel)]="user.votes" />
</p>

<ng-template #elseTemplate>
  <p>Mr. {{ user.lastName.toUpperCase() }} is NOT working!!</p>
</ng-template>

<!-- <ng-content select="footer"></ng-content> -->
