.ng-invalid.ng-touched[name="body"] {
  border-bottom: red 2px solid;
}
.ng-valid.ng-touched[name="body"] {
  border-bottom: rgb(13, 161, 13) 2px solid;
}
.ng-invalid.ng-touched[name="stars"] {
  border-bottom: red 2px solid;
}
.ng-valid.ng-touched[name="stars"] {
  border-bottom: rgb(13, 161, 13) 2px solid;
}
.ng-invalid.ng-touched[name="email"] {
  border-bottom: red 2px solid;
}
.ng-valid.ng-touched[name="email"] {
  border-bottom: rgb(13, 161, 13) 2px solid;
}
