<div class="card">
  <div class="card-header">
    <h6 class="text-center">Add Your Comment</h6>
  </div>
  <div class="card-body">
    <form #myForm="ngForm" (submit)="onSubmit(myForm)">
      <!-- stars -->
      <label for="stars">Stars :</label>
      <select class="form-control" name="stars" ngModel required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <!-- body -->
      <div class="form-group">
        <textarea
          class="form-control my-2"
          rows="7"
          name="body"
          placeholder="enter your message here"
          ngModel
          required
          minlength="8"
          #taBody="ngModel"
        ></textarea>
        <div *ngIf="taBody.touched && taBody.dirty">
          <div *ngIf="taBody.errors">
            <div
              [hidden]="!taBody.errors!['minlength']"
              class="alert alert-danger"
            >
              - Body should have atleast 8 characters
            </div>
            <div
              [hidden]="!taBody.errors!['required']"
              class="alert alert-danger"
            >
              - Body is mandatory field
            </div>
          </div>
        </div>
      </div>
      <!-- email -->
      <div class="form-group">
        <label for="email">Email :</label>
        <input
          type="email"
          class="form-control"
          name="email"
          ngModel
          required
          email
          #txtEmail="ngModel"
        />
        <div *ngIf="txtEmail.touched && txtEmail.dirty">
          <div *ngIf="txtEmail.errors">
            <div
              [hidden]="!txtEmail.errors['required']"
              class="alert alert-danger"
            >
              - Email is madatory field
            </div>
            <div
              [hidden]="!txtEmail.errors['email']"
              class="alert alert-danger"
            >
              - Email should be in proper format
            </div>
          </div>
        </div>
      </div>
      <!-- button -->
      <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">
        Add Comment
      </button>
    </form>
  </div>
</div>
