<div class="backdrop">
  <div class="card">
    <div class="card-header">
      <h6 class="text-center">{{ post.title | uppercase }}</h6>
    </div>
    <div class="card-body">
      <p>{{ post.body }}</p>

      <button class="btn btn-outline-danger btn-block" (click)="onDelete()">
        DELETE
      </button>
    </div>
  </div>
</div>
