<h4>Promise Data : {{ promise | async }}</h4>

<h5>Contact Number : {{ contactNumber | countryCode }}</h5>

<h5>{{ helloStr | reverse | uppercase }}</h5>

<hr />

<div class="row my-2">
  <div class="col-6">
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="completed">Completed Tasks</option>
      <option value="pending">Pending Tasks</option>
    </select>
  </div>
  <div class="col-6">
    <button class="btn btn-dark btn-block" (click)="onAddNew()">Add New</button>
  </div>
</div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Todo</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoColl | filter : filteredStatus">
      <td>{{ todo.label | titlecase }}</td>
      <td>
        <span class="badge badge-dark">{{ todo.status | uppercase }}</span>
      </td>
    </tr>
  </tbody>
</table>
<!--
<ul class="list-group">
  <li
    *ngFor="let todo of todoColl | filter : filteredStatus"
    class="list-group-item"
  >
    <p>
      {{ todo.label | uppercase }}
      <span class="float-right badge badge-primary"> {{ todo.status }}</span>
    </p>
  </li>
</ul> -->
