<ul class="nav nav-tabs">
  <li class="nav-item" [ngStyle]="{ cursor: 'pointer' }">
    <a class="nav-link" [ngClass]="{ active: tab === 1 }" (click)="tab = 1"
      >Show Comments</a
    >
  </li>
  <li class="nav-item" [ngStyle]="{ cursor: 'pointer' }">
    <a class="nav-link" [ngClass]="{ active: tab === 2 }" (click)="tab = 2"
      >Add Comment</a
    >
  </li>
</ul>

<div [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <ul class="list-group" *ngIf="comments.length > 0; else noCommentTemplate">
      <li *ngFor="let comment of comments" [ngClass]="myDynamicClasses">
        <strong>Stars : {{ comment.stars }} </strong>
        <blockquote class="blockquote">
          {{ comment.body }}
          by <cite class="float-right"> - {{ comment.email }} </cite>
        </blockquote>
      </li>
    </ul>
    <ng-template #noCommentTemplate>
      <strong>Be the first to comment</strong>
    </ng-template>
  </div>
  <div *ngSwitchCase="2">
    <app-comment-form
      (addCommentEvent)="onAddNewComment($event)"
    ></app-comment-form>
  </div>
</div>
