<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body">
        <p class="text-center display-4">Registration Form</p>
        <form [formGroup]="registerForm">
          <div class="form-group">
            <!-- username -->
            <label for="username">Username :</label>
            <input type="text" formControlName="uname" class="form-control" />
          </div>
          <!-- password -->
          <div class="form-group">
            <label for="password">Password :</label>
            <input
              type="password"
              name="password"
              formControlName="password"
              class="form-control"
            />
          </div>
          <!-- hobbies -->
          <div class="form-group">
            <button (click)="addHobby()" class="btn btn-light">
              Add New Hobby
            </button>
            <div formArrayName="hobbies">
              <div *ngFor="let hobby of hobbies.controls; let i = index">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-5">
                      <label for="name">Name :</label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="name"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <label for="frequency">Frequency :</label>
                    </div>
                    <div class="col-7">
                      <input
                        type="text"
                        formControlName="frequency"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Courses -->
          <!-- <button class="btn btn-light" (click)="addCourse()">
              Add New Course
            </button>

            <div *ngFor="let course of courses.controls; index as i">
              <input type="text" [formControl]="courses.controls[i]" />
              <div [formGroup]="course">
                Add New Courses Here : <br />
                CourseName : <input type="text" formControlName="name" /> <br />
                Course Duration :
                <input type="text" formControlName="duration" />
              </div>
            </div> -->

          <button class="btn btn-warning" (click)="onRegister()">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
