<p>observable-demo works!</p>

<br />

<input type="text" #search class="mb-2" /> <br />

<img [src]="avatarUrl" alt="" width="200" height="200" class="d-block" />

<br />

<button class="btn btn-dark" (click)="onSubscribe()">Subscribe</button>
<button class="btn btn-danger" (click)="onUnsubscribe()">Unsubscribe</button>
<hr />

<button (click)="generateSub()">Generate Subject</button>
<button (click)="subscribeSub()">Subscribe Subject</button>
